{%extends 'base.html'%}
{%block content%}
    <h1>List of addreses</h1>
    {% for address in addresses %}
    <ul>
        <li>{{address}} <a href="{{url_for('addressbook_view',name=address['name'])}}"> Click for more info!</a> </li>
    </ul>
    {% endfor %}

    <section id="form">
        {%macro render_field (field,plc_holder)%}
            {% if field.errors%}
                {{field(class = 'form-field error-field',placeholder=plc_holder)}}
                <ul>
                {% for error in field.errors%}
                    <li>{{error}}</li>
                {%endfor%}
                </ul> 
            {%else%}
                {{field(class = 'form-field success',placeholder=plc_holder)}}
            {%endif%}
        {%endmacro%}     
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}

        {{render_field (form.name,'enter name')}}
        {{render_field (form.street,'enter street')}}
        {{render_field (form.city,'enter city')}}
        {{render_field (form.province,'enter Province')}}
        {{form.submit(class = 'button')}}
    </form>
    </section>
{%endblock content%}