<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{context['page_title']}} </title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">

</head>
<body>
    <header>
        <h2>Noah Gelinas</h2>
        <nav>
            <ul>
                <li><a href="{{url_for('home_view')}}">Home Page</a></li>
                <li><a href="{{url_for('addressbooklist_view')}}">List all Addresses</a></li>
                <li><a href="{{url_for('noteslist_view')}}">Notes</a></li>
            </ul>
        </nav>
    </header>
    {%block content%}
    {%endblock content%}
    <section>
        <h2>Error Messages</h2>
        {%with messages = get_flashed_messages(with_categories=true)%}
            {%if messages%}
                {%for categ,message in messages%}
                    <ul class="{{categ}}">
                        <li>{{message}}</li>
                    </ul>   
                {%endfor%}    
            {%endif%} 
        {%endwith%}
    </section>
    <footer>
        Noah Gelinas winter 2024 (c)
    </footer>
</body>
</html>