{%extends 'base.html'%}
{%block content%}
<h1>List of Notes</h1>
    {% for note in notes %}
    <ul>
        <li>{{note}} <a href="{{url_for('notes_view',id=note['id'])}}"> Click for more info!</a> </li>
        
     </ul>
    {% endfor %}
{%endblock content%}
