{%extends 'base.html'%}
{%block content%}
<ul>
    <li>Name: {{context['Name']}}</li>
    <li>Street: {{context['Street']}}</li>
    <li>City: {{context['City']}}</li>
    <li>Province: {{context['Province']}}</li>
</ul>
{%endblock content%}